.footer {
    background-color: rgb(25, 125, 255);
    color: white;
    padding: 1em;
    text-align: center;
}

.footer svg {
    margin-top: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0.7;
}

.footer svg:hover {
    opacity: 1;
}

.footer a {
    display: block;
    text-decoration: none;
    font-size: small;
    color: white;
}

